<div class="container-fluid text-light">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <p class="h3">Informações do Servidor</p>
            <p>Servidor lançado Abril/2018</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <p class="h5">Como se Connectar</p>
            <p>Após baixar o jogo através do menu superior, você se deparará com os arquivos do jogo. Edite o arquvio <kbd>{pastaDoJogo}/data/{ligua}/realmlist.wtf</kbd> e deixe apenas com o seguinte texto: <kbd>set realmlist realmlist.nullservers.com</kbd>!</p>
            <p>Abra o jogo através do arquvio <kbd>{pastaDoJogo}/wow.exe</kbd>. Entre com seu <kbd>username</kbd> e <kbd>password</kbd>! <footer class="blockquote-footer">Lembre-se de sempre autenticar utilizando seu username!!!</footer></p>
        </div>
    </div>
    <div class="row text-muted">
        <div class="col-sm-8 offset-sm-2">
            <p class="h5 text-light">Rates</p>            
            <dl class="row" >
                <dt class="col-sm-4 float-right">XP Kill</dt>
                <dd class="col-sm-2 text-light">10x</dd>
                <dt class="col-sm-4 float-right">XP BG</dt>
                <dd class="col-sm-2 text-light">10x</dd>
                <dt class="col-sm-4 float-right">XP Quest</dt>
                <dd class="col-sm-2 text-light">7x</dd>
                
                <dt class="col-sm-4 float-right">Gold Kill</dt>
                <dd class="col-sm-2 text-light">7x</dd>
                <dt class="col-sm-4 float-right">Gold Quest</dt>
                <dd class="col-sm-2 text-light">5x</dd>

                <dt class="col-sm-4 float-right">Rest Time</dt>
                <dd class="col-sm-2 text-light">10x</dd>

                <dt class="col-sm-4 float-right">Honor Points (BG, World PVP, etc)</dt>
                <dd class="col-sm-2 text-light">1.3x</dd>
                <dt class="col-sm-4 float-right">Arena Points</dt>
                <dd class="col-sm-2 text-light">1x</dd>

                <dt class="col-sm-4 float-right">Reputação</dt>
                <dd class="col-sm-2 text-light">3.5x</dd>

                <dt class="col-sm-4 float-right">Recruit a Friend Bonus</dt>
                <dd class="col-sm-2 text-light">+100%</dd>

                <dt class="col-sm-4 float-right">Profissão</dt>
                <dd class="col-sm-2 text-light">5x</dd>

                <dt class="col-sm-4 float-right">Arma e Defesa</dt>
                <dd class="col-sm-2 text-light">10x</dd>
            </dl>
        </div>
    </div>
    <div class="row text-muted">
        <div class="col-sm-8 offset-sm-2">
            <p class="h5 text-light">Resets<footer class="blockquote-footer">GTM -3 America/Sao_Paulo</footer></p>
            <dl class="row">
                <dt class="col-sm-4 float-right">Instances</dt>
                <dd class="col-sm-2 text-light">03:00</dd>

                <dt class="col-sm-4 float-right">Daily</dt>
                <dd class="col-sm-2 text-light">01:00</dd>
            </dl>
        </div>
    </div>
</div>