<script>
    $(document).ready(function(){

    });
</script>
<div class="col col-md-8 offset-md-2" style="color: white; margin-top: 30px;">
    <form id="updatePasswordForm" data-toggle="validator" role="form" onsubmit="changePWD(); return false">
        <div class="form-group">
            <label for="inputUsername" class="control-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" name="username" data-minlength="6" placeholder="Username" aria-describedby="passwordHelp" required>
        </div>
        <div class="form-group">
            <label for="inputOldPassword" class="control-label">Password Antigo</label>
            <input type="password" class="form-control" id="inputOldPassword" name="oldPassword" data-minlength="6" placeholder="Old Password" aria-describedby="passwordHelp" required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">Novo Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" data-minlength="6" placeholder="New Password" aria-describedby="passwordHelp" required>
            <small id="passwordHelp" class="form-text text-muted">Minimo de 6 caracteres!</small>            
        </div>
        <div class="form-group">
            <label for="passwordConfirm" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" data-minlength="6" placeholder="Confirm New Password" data-match="#inputPassword" data-match-error="Password don't match!" required>
            <small id="passwordHelp" class="form-text text-muted">Minimo de 6 caracteres!</small>            
            <div class="help-block with-errors"></div>
        </div>
    <button id="updatePasswordButton" type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>